<div class="row">

    <div class="col-md-4">

        <section>
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                <h4>Use a local account to log in.</h4>
                <hr />

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email" id="email">
                    <mat-error *ngIf="!loginForm['email'].required && loginForm['email'].touched">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="loginForm['email'].email && loginForm['email'].touched">
                        Name is required.
                    </mat-error>
                </mat-form-field>
                <br/>

                <mat-form-field>
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-error *ngIf="!loginForm['password'].required && loginForm['password'].touched">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                <br/>
                
                <mat-checkbox name="rememberMe" formControlName="rememberMe">Checked</mat-checkbox>
                <br/>

                <button mat-raised-button type="submit" [disabled]="loginForm.pristine || loginForm.status === 'INVALID'">Log in</button>
                <button mat-raised-button type="button" (click)="onLoginReset()" [disabled]="loginForm.pristine">Reset</button>
                <br/>

            </form>
        </section>

    </div>
    <div class="col-md-4">

        <section>
            <p>
                <a asp-action="ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-action="Register" asp-route-returnurl="@ViewData['ReturnUrl']">Register as a new user?</a>
            </p>
        </section>

    </div>
    <div class="col-md-4">

        <section>
            <h4>Use another service to log in.</h4>
            <hr />

            <!-- <form [formGroup]="loginExternalForm" (ngSubmit)="onLoginExternalSubmit()">
                <div>
                    <p>
                        <button mat-raised-button type="submit" formControlName="provider" value="GITHUB" title="Log in using your GITHUB account">GITHUB</button>
                        <button mat-raised-button type="submit" formControlName="provider" value="Visual Studio Online" title="Log in using your VSTS account">VSTS</button>
                    </p>
                </div>
            </form> -->


            <button mat-raised-button (click)="onLoginExternalSubmit('GITHUB')" title="Log in using your GITHUB account">GITHUB</button>

            <button mat-raised-button (click)="onLoginExternalSubmit('Visual Studio Online')" title="Log in using your VSTS account">VSTS</button>


        </section>

    </div>
</div>